*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
body{
    background-color: black;
}

.main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 50vh;
    height: 90vh;
    border: 2px solid white;
}
.ball{
    position: absolute;
    height: 30px;
    width: 30px;
    background: white;
    left: 50%;
    top: 50%;
    box-shadow: 0 0 10px 5px#08f;
    border-radius: 50%;
    
}
.hole{
    position: absolute;
    height: 30px;
    width: 30px;
    background: purple;
    border: 3px;
    border-radius: 50%;
}
.start_button{
    height: 30px;
    width: 80px;
    background-color: white;
    border-radius: 20px;
    margin-left: 3vh;
    margin-top: 3vh;
    cursor: pointer;
}
.active_start{
    background-color: green;
}
.hidden_hole{
    display: none;
}
