html,
body{
    height: 100%;
    margin: 0;
}

.notes{
    display: flex;
    height: 100%;
}
.notes * {
    font-family: sans-serif;

}

.notes__sidebar{
    border-right: 2px solid #dddddd;
    flex-shrink: 0;
    overflow-y: auto;
    padding: 1rem;
    width: 300px;
}
.notes__add{
    background: #009578;
    border: none;
    border-radius: 7px;
    color: #ffffff;
    cursor: pointer;
    font-size: 1.25em;
    font-weight: bold;
    margin-bottom: 1em;
    padding: 0,75em 0;
    width: 100%;
}
.notes__add:hover{
    background: #00af8c;
}
.notes__list-item{
    cursor: pointer;
    border-radius: 7px;

}
.btnscolor{
    text-align: center;
}
.btncolor{
    display: inline-block;
    border: none;
    margin-left: 5px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;

}
.whitebtn{
    background: rgba(255, 255, 255, 0.5);
}
.bluebtn{
    background: rgba(34, 137, 240, 0.5);
}
.redbtn{
    background: rgba(251, 0, 0, 0.5);
}
.greenbtn{
    background: rgba(71, 251, 0, 0.5);
}
.orangebtn{
    background: rgba(251, 146, 0, 0.5);
}
.notes__list-item--selected{
    background: #eeeeee;
    border-radius: 7px;
    font-weight: bold;
}
.notes__small-title,
.notes__small-updated{
    padding: 10px;
}
.notes__small-title{
    font-size: 1.25em;
}
.notes__small-body{
    padding: 0 10px;
}
.notes__small-updated{
    color: #aaaaaa;
    font-style: italic;
    text-align: right;
}
.notes__preview{
    display: flex;
    flex-direction: column;
    padding: 2rem 3em;
    flex-grow: 1;
}
.notes__title,
.notes__body{
    border: none;
    outline: none;
    width: 100%;
}
.notes__title{
    font-size: 3em;
    font-weight: bold;
}
.notes__body{
    flex-grow: 1;
    font-size: 1.2em;
    line-height: 1.5;
    margin-top: 2em;
    resize: none;
}